h1, h4 {
  margin: 0;
}
a {
  cursor: pointer;
}
.post-list a, .post-list a:hover,
.site-footer a, .site-footer a:hover {
  color: black !important;
}
.post-list a:visited,
.site-footer a:visited {
  color: #DC9004;
}
.site-nav {
  z-index: 2;
}
.h2-container h2 {
  float: left;
}
.h2-container {
  height: 40px;
}
.h2-container a, .h2-container a:visited, .h2-container a:hover {
  color: black;
}
.h2-container a {
  margin-left: 20px;
}
#project_carousel { 
  width: 100%;
}
#project_carousel img {
  width: 100%;
  display: block;
  cursor: pointer;
}
#project_carousel .owl-page.active span {
  background-color: #DC9004;
}
#experience {
  height: 280px;
}
#experience ul {
  list-style-type: none;
  margin: 0;
}
#experience_container {
  width: 100%;
  height: 206px;
  margin: 15px 0;
}
#level_labels {
  position: relative;
  font-size: 14px;
  padding-left: 100px;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
#level_labels li {
  display: inline-block;
  position: absolute;
}
#experience_labels {
  width: 100px;
  float: left;
  padding: 5px 0 0 0;
  font-size: 14px;
  height: 100%;
}
#experience_labels li {
  margin: 5px 0;
  text-align: right;
  padding-right: 17px;
}
#experience_labels li.page2 {
  display: none;
}
#experience_labels li span {
  letter-spacing: -1px;
}
#experience_chart {
  float: left;
  background: rgba(128, 128, 128, 0.5);
  padding: 10px 20px;
  width: 60%;
  width: calc(100% - 100px);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
#experience_chart li {
  height: 20px;
  background-color: #DC9004;
  border-radius: 0 8px 8px 0;
  margin-bottom: 6px;
}
#blog .post-list {
  margin-left: 25px;
  min-height: 330px;
}
#blog .post-list li {
  margin-bottom: 15px;
}
#blog .post-list h2 {
  margin-bottom: 0;
}
a.view-more {
  float: right;
  margin-top: 10px;
}
#blog {
  clear: left;
}
#blog_pagination {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
#blog_pagination li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid gray;
  height: 30px;
  min-width: 40px;
  border-radius: 3px;
}
#blog_pagination #next, #blog_pagination #prev {
  width: 60px;
}
#blog_pagination li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 30px;
}
#blog_pagination .active {
  background: #DC9004;
  pointer-events: none;
  cursor: default;
}
#blog_pagination .disabled {
  pointer-events: none;
  cursor: default;
}
#blog_pagination .disabled a {
  color: lightgray;
}
#blog_pagination a {
  text-decoration: none;
  color: black;
}
#blog_pagination a:hover {
  color: #828282;
}
#resume_mailto {
  font-style: italic;
  position: relative;
  top: -30px;
  font-size: 14px;
}
.social-media-list .icon {
  width: 60px;
  height: 60px;
  fill: white;
  background-color: gray;
  border-radius: 60px;
}
.social-media-list li {
  display: inline-block;
}
#footer_description {
  font-size: 14px;
  color: #828282;
}

.social-media-list .icon:hover {
  background-color: #DC9004;
  transition: 0.2s;
}
#projects_list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
#projects_list li {
  max-height: 80px;
  position: relative;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
}
#projects_list .main-image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-right: 10px;
  float: left;
}
#projects_list .description {
  font-size: 12px;
  float: left;
}
#projects_list .expand-button {
  position: absolute;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  top: 40px;
  height: 40px;
  color: white;
  text-align: center;
  font-weight: 100;
  line-height: 65px;
  font-size: 14px;
  background: -webkit-linear-gradient(top, transparent 10px, rgb(172, 171, 171));
  background: linear-gradient(top, transparent 10px, rgb(172, 171, 171));
}
