h1, h4 {
  margin: 0;
}
a {
  cursor: pointer;
}
.post-list a, .post-list a:hover,
.site-footer a, .site-footer a:hover {
  color: black !important;
}
.post-list a:visited,
.site-footer a:visited {
  color: #DC9004;
}
.site-nav {
  z-index: 2;
}
.h2-container h2 {
  float: left;
}
.h2-container {
  height: 40px;
}
.h2-container a, .h2-container a:visited, .h2-container a:hover {
  color: black;
}
.h2-container a {
  margin-left: 20px;
}
#project_carousel { 
  width: 100%;
}
#project_carousel img {
  width: 100%;
  display: block;
  cursor: pointer;
}
#project_carousel .owl-page.active span {
  background-color: #DC9004;
}
#experience ul {
  margin-top: 15px;
}
.post-list {
  margin-left: 25px;
}
#blog .post-list li {
  margin-bottom: 15px;
}
#blog .post-list h2 {
  margin-bottom: 0;
}
a.view-more {
  float: right;
  margin-top: 10px;
}
#blog_pagination {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;

}
#blog_pagination li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid gray;
  height: 30px;
  min-width: 40px;
  border-radius: 3px;
}
#blog_pagination #next, #blog_pagination #prev {
  width: 60px;
}
#blog_pagination li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 30px;
}
#blog_pagination .active {
  background: #DC9004;
  pointer-events: none;
  cursor: default;
}
#blog_pagination .disabled {
  /*background: lightgray;*/
  pointer-events: none;
  cursor: default;
}
#blog_pagination .disabled a {
  color: lightgray;
}
#blog_pagination a {
  text-decoration: none;
  color: black;
}
#blog_pagination a:hover {
  color: #828282;
}
#resume_mailto {
  font-style: italic;
  position: relative;
  top: -30px;
  font-size: 14px;
}
.social-media-list img {
  width: 30px;
  height: 30px;
}
