---
title: Jeremy Eaton
layout: default
---

<div class='h2-container'>
  <h2>Projects</h2>
  <a class='view-more' href='/projects'>View All</a>
</div>

<div id='project_carousel' class='owl-carousel'>
  <div><a href='/projects#eon'><img src='img/eon_project_image.png' /></a></div>
  <div><a href='/projects#hunt'><img src='img/hunt_project_image.png' /></a></div>
  <div><a href='/projects#mbs'><img src='img/mbs_project_image.png' /></a></div>
</div>

<div id='experience'>

  <div class='h2-container'>
    <h2>Proficiency</h2>
    <a class='view-more' href='/resume'>View Résumé</a>
  </div>

  <div id='experience_container'>
    <ul id='level_labels'>
      <li class='left'>Beginner</li>
      <li class='middle'>Intermediate</li>
      <li class='right'>Expert</li>
    </ul>
    <ul id='experience_labels'>
      <li class='page1'>Javascript</li>
      <li class='page1'>Ruby</li>
      <li class='page1'>HTML</li>
      <li class='page1'>CSS</li>
      <li class='page1'>SQL</li>
      <li class='page1'>Objective-C</li>

      <li class='page2'>jQuery</li>
      <li class='page2'>Ruby on <span>Rails</span></li>
      <li class='page2'>ReactJS</li>
      <li class='page2'>NodeJS</li>
      <li class='page2'>Cordova</li>
      <li class='page2'>iOS</li>
    </ul>
    <ul id='experience_chart'>
      <li style='width: 86%;'></li>
      <li style='width: 85%;'></li>
      <li style='width: 90%;'></li>
      <li style='width: 90%;'></li>
      <li style='width: 70%;'></li>
      <li style='width: 60%;'></li>
    </ul>
  </div>

</div>

<div id='blog'>

  <h2>Prose</h2>
  <ul class="post-list" data-total-pages="{{ paginator.total_pages }}">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
  <ul id='blog_pagination'>
    <li class='disabled'><a id='prev' data-next-page='1'>prev</a></li>
    <li class='active'><a data-next-page='1'>1</a></li>
    {% for count in (2..paginator.total_pages) %}
      <li><a data-next-page='{{count}}'>{{count}}</a></li>
    {% endfor %}
    <li><a id='next' data-next-page='2'>next</a></li>
  </div>
</div>


